{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner mackeup" id="new">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Mackeup Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}" required>
          <br>
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" required>{{item.description}}</textarea>
          <br>
					<label for="price">Price $:</label>
					<div class="input-group">
						<div class="input-group-addon"></div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}" required>
					</div>
					<label for="type">Type:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type1" value="Eyeshadow" {% if item.type == 'Eyeshadow'%}checked{%endif%} required>Eyeshadow
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type2" value="Lip Stick" {% if item.type == 'Lip Stick' %}checked{%endif%}>Lip Stick
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type3" value="Bowder" {% if item.type == 'Bowder'%}checked{%endif%}>Bowder
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type4" value="Foundation" {%if item.type =='Foundation'%}checked{%endif%}>Foundation
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showBrands')}}'>
						<button class="btn btn-default delete" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
